.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--spacing);
    margin: var(--spacing) 40px;
    width: 100%;
    max-width: 400px;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.card-list {
    padding: 0;
    margin: var(--spacing) 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: line;
    object-fit: cover;
}

