/* ============================
   Variables globales
============================ */
:root {
  --color-primary: #be2626;
  --color-secondary: #b38243;
  --color-accent: #2e1b1b;
  --color-bg-light: #f9f9f9;
  --color-text-dark: #2c2c2c;
  --color-white: #ffffff;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --spacing: 1rem;
}






